body{
    /* background-color: #d3fff8; */
    background-image: linear-gradient(to right,#dcf8f3,#90ebe6);

}

#menu-head {
    margin: 0;
    padding: 5% 10%;
    background-color: #00f7cd;
    font-weight: bold;
}

.sidebar{
    background-color: #00f7cd;

}

.add-food {
    margin-top: 3%;  
    margin-left: 20%; 
}
#food-form{
    display: none;
}

.item{
    margin: 5% 0;
    padding: 2% 0;
    background-color: #00f7cd;
    border-radius: 2%;
    border: 1px solid #06bea0;
}

.menuImages {
    width: 70%;
    margin: 0 15%;
    box-shadow:10px 10px 10px gray;  
    border-radius: 2%;
}

.list-group-item{
    margin: 10px 0;
}

.item-details{
    text-align: center;
    margin-top: 5px; 
}

.footer{
    height: 10vh;
    margin: 0;
}

.loginform{
    padding: 5%;
    background-color: white;
    border: 1px solid lightgray; 
    border-radius: 3%;
    font-weight: bold;

}

.login {
    margin: 6% 0;
}

.loginhead img{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
}

.loginhead{
    margin: 6% 0;
    text-align: center;
}

#register {
    margin: 5% 0;
}

.admin-sidebar {
    background-color: #1b023a;
    height: 90vh;
}

.sidelink {
    height: 15%;
    display: block;
    text-align: center;
    margin-top: 25%;
    text-decoration: none;
    color: white;
}

#welcomeadmin{
    color: white;
    text-align: center;
    margin: 5% 0;
    font-size: 22px;
}